*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    display:flex;
    height:100vh;
    background:#0f172a;
    color:white;
}

.sidebar{
    width:250px;
    background:#111827;
    padding:30px 20px;
    display:flex;
    flex-direction:column;
}

.sidebar h2{
    color:#60a5fa;
    margin-bottom:20px;
}

#newChatBtn{
    width:100%;
    padding:14px;
    margin-bottom:20px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

#newChatBtn:hover{
    background:#3b82f6;
}

.history{
    list-style:none;
    flex:1;
    overflow-y:auto;
}

.history li{
    padding:12px;
    margin-bottom:8px;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

.history li:hover{
    background:#1e293b;
}

.bottom-menu{
    margin-top:auto;
    border-top:1px solid #1e293b;
    padding-top:15px;
}

.bottom-menu p{
    padding:12px;
    margin-bottom:8px;
    border-radius:8px;
    cursor:pointer;
    color:#cbd5e1;
    transition:.3s;
}

.bottom-menu p:hover{
    background:#1e293b;
}

.chat-area{
    flex:1;
    display:flex;
    flex-direction:column;
}

.chat-header{
    padding:20px;
    border-bottom:1px solid #1e293b;
    background:#111827;
}

.messages{
    flex:1;
    padding:25px;
    overflow-y:auto;
}

.ai-message{
    max-width:420px;
    width:fit-content;
    padding:15px;
    border-radius:15px;
    background:#1e293b;
    line-height:1.6;
    margin-bottom:20px;
}

.user-message{
    max-width:420px;
    width:fit-content;
    padding:15px;
    border-radius:15px;
    background:#2563eb;
    margin-left:auto;
    margin-bottom:20px;
}

.chat-input{
    display:flex;
    gap:10px;
    padding:20px;
    background:#111827;
    border-top:1px solid #1e293b;
}

.chat-input input{
    flex:1;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#1e293b;
    color:white;
    outline:none;
    font-size:16px;
}

.chat-input input::placeholder{
    color:#94a3b8;
}

.chat-input button{
    padding:15px 30px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

.chat-input button:hover{
    background:#3b82f6;
}
