*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    display:flex;
    height:100vh;
    background:#0f172a;
    color:white;
}

.sidebar{
    width:260px;
    background:#111827;
    padding:30px 20px;
}

.sidebar h2{
    margin-bottom:30px;
    color:#60a5fa;
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    padding:15px 10px;
    margin-bottom:10px;
    border-radius:10px;
    cursor:pointer;
    transition:.3s;
}

.sidebar li:hover{
    background:#2563eb;
}

.main{
    flex:1;
    padding:50px;
}

.main h1{
    font-size:40px;
    margin-bottom:15px;
}

.main p{
    color:#cbd5e1;
    margin-bottom:40px;
}

button{
    padding:15px 35px;
    border:none;
    border-radius:12px;
    background:#2563eb;
    color:white;
    font-size:18px;
    cursor:pointer;
}

button:hover{
    background:#3b82f6;
}
